<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #eed7d7;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        form {
            background-color: rgb(188, 172, 172);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(234, 220, 220, 0.1);
        }
        
        form input[type="text"],
        form input[type="email"] {
            padding: 10px;
            margin: 5px;
            width: 100%;
            border: 1px solid #000000;
            border-radius: 5px;
        }
        
        form input[type="submit"] {
            padding: 10px 20px;
            background-color: #4caf6b;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/proxrota" method="post">
            <input type="text" name="nome" placeholder="Nome">
            <input type="email" name="email" placeholder="Email">
            <br>
            <input type="text" name="telefone" placeholder="Telefone">
            <input type="text" name="endereco" placeholder="Endereço">
            <br>
            <input type="text" name="cidade" placeholder="Cidade">
            <input type="text" name="estado" placeholder="Estado">
            <br>
            <input type="text" name="cep" placeholder="CEP">
            <input type="text" name="pais" placeholder="País">
            <br>
            <input type="text" name="Estado Civil" placeholder="Estado Civil">
            <input type="text" name="Gênero" placeholder="Gênero">
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
